.metric-card{

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    min-height:150px;

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.metric-card span{

    color:#777;

    font-size:15px;

}

.metric-card h3{

    color:#606c38;

    font-weight:700;

    margin-top:12px;

}